html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(23%) saturate(1400%) hue-rotate(210deg) brightness(94%) contrast(98%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #FFF;
    --top-act-group-shadow:rgba(237, 237, 246, 0.20);
    --top-act-btn-group-separate:#EDEDF6;
}