@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    display: none;
    width: min(1240px, 100%);

    &__inner {
        --inner-padding: 30px;
        position: relative;
        max-height: var(--inner-max-height);

        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-color-shadow);

        &::before {
            position: absolute;
            content: url("../icon/dropdown-arrow.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height:calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }

}

.menu-column {
    display: flex;
    gap: 14px;

    +.menu-column {
        margin-top: 22px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        bottom: -5px;
        right: 0;
        height: 24px;
        width: 24px;
        object-fit: contain;
        filter: var(--dropdown--icon-color);
    }

    &__heading {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        
        &--active .sub-menu {
            display: grid;
        }
    }

    &-active>&__link,
    &__item:hover>&__link {
        font-weight: 500;
        color: #0071DC;
    }

    &__link {
        display: block;
        padding: 7px 0px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;

    }

    &__list li:last-child .menu-column__link {
        padding-bottom: 0;
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);

    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    gap: 30px;
    padding-left: var(--inner-padding);
    overflow-y: auto;

    &--not-main {
        display: grid;
        position: initial;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
        padding-left: 0;
    }
}